<div>
  <h1>
    404 NOT FOUND
  </h1>
</div>
<style>
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
  h1 {
    text-align: center;
    font-size: 4rem;
  }
</style>