<h2>API USAGE & AVAILABLE METHODS</h2>
<h3>ROUTES:</h3>
<ul>
  <li>Pet: GET /api/users</li>
  <li>Pet: GET /api/users/:username</li>
  <li>Pet: POST /api/users/new</li>
  <li>Pet: DELETE /api/users/:username</li>
  <li>Pet: PUT /api/users/:username</li>
</ul>